apiVersion: v1
kind: Service
metadata:
  name: {{ include "llm-gateway.fullname" . }}
  labels:
    {{- include "llm-gateway.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if .Values.observability.metrics.enabled }}
    - port: {{ .Values.observability.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "llm-gateway.selectorLabels" . | nindent 4 }}
